ul.books{
    padding:0px;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

ul.books li{
    margin-top:10px;
}

ul.books li > .book{
    height:130px;
    clear:both;overflow: hidden;
    position:relative;

}
ul.books li > .book .col{
}
ul.books li > .book .col:first-child{
    width:120px;
}

img.thumb {
    min-height:120px;
    max-height:220px;
    display:block;
    box-sizing:content-box;
}

.book-title{
    display:block;
    font-size:1em;
    font-weight:bold;
    color:#535353;
    text-decoration: none;
}

.book-desc{
    display:block;
    font-size:0.8em;
    font-weight:normal;
    color:#736373;
}

.book-author{
    display:block;
    font-size: smaller;
    margin-top:2px;
}

.book-author .text{
    color:#aaa;
    text-transform:lowercase;
}

a.book-author-name{
    text-decoration: none;
}

.book .book-action{
    position:absolute;
    width:100%;
    margin-top:1em;
    top:inherit;
    font-size:small;
}

.book-action a{
    text-decoration: none;
    color:#343434;
    display:block;
}

.book-action .action-add{
    background-color:darkgreen;
    width:60px;
    padding:5px;
    color:white;
    text-align: center;
    border-radius: 3px;
    letter-spacing: 2px;
    text-transform: uppercase;
}