body{
  font-family:HelveticaNeue,Helvetica;
}
h1{
    display:block;
    margin-bottom:5px;
}
header{
    border-bottom:solid;
    margin-bottom:10px;
}
ul{

}

li{
    list-style-type:none;
}
ul.no-room{
    margin:0px;
    padding:0px;
}
input[type=radio] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

label {
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: #5c5c5c;
    padding:10px;
    line-height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display:block;
}
input[type=radio]:checked + label {
    background-color:pink;
    color: magenta;
}
span.appname{
    font-weight:bold;
}
.rumble-counter{
    font-weight:bold;
    color:maroon;
    font-size:1.2em;
    background-color:#333;
    padding:7px;
    color:yellow;
    border-radius:3px;
}
ul.rumbles {
    background-color:#fefefe;
    color:white;
    left:0px;
    color:red;
    width:200px;
    height:100%;
    border:solid 1px pink;
    padding:0px;
    float:left;
    margin-top:0px;
}
ul.rumbles > li{
    padding:0px;
}
.rumbler{
    color:#aaa;
    font-size: 12px;
    line-height: 0px;
}
.float-clear{
    clear:both;
    overflow:hidden;
}

.float-left{
    float:left;
}
.float-right{
    float:right;
}

.width-2{
    width:20%;
    min-width:200px;
    max-width:220px;
}
ul.rumbles + div.rumble-snap-box{
    margin-left:1em;
    width:100%;
    max-width:80%;
    height:auto;
    height:100%;
    overflow:scroll;
    float:left;

}
div.rumble-snap-box > iframe.rumble-snap{
    margin-left:1em;
    border:0px;
    width:100%;
    height:auto;
    height:100%;
    overflow:scroll;
}
iframe.rumble-snap{
    border:0px;
    height:100%;

    width:100%;
    top:110px;
}

div.rumble-snap-header{
    background-color:#ededed;
    border-bottom:solid;
    min-height:40px;
    padding:8px;
    clear:both;
    overflow:hidden;
}

.rumble-snap-header .rumble-snap-header-lbl{
    display:block;
    font-size:11px;
    color: #5c5c5c;
}

.rumble-snap-header .rumble-snap-header-value{
 display:block;
 font-size:12px;
 color:#333;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
 display: block;
 color:cornflowerblue;
 font-weight:bold;
}

ul.rumble-snap-header-attrs{
    margin:0px;
    padding:0px;
}

ul.rumble-snap-header-attrs > li{
    margin-bottom:8px;
}

.col-padding{
    padding:8px;
}