    <header>

    </header>
    <section>
        <form class="search">
            <label for="search">Search</label>
            <input type="search" name="search" value="" placeholder="Enter: Title (or) Author (or) Books' ISBN Number "/>
            <input type="submit" value="" title="Go">
        </input>
    </form>
</section>
<section>
    <ul class="books">
        <li>
            <div class="book">
                <div class="col float-left col-padding">
                    <img class="thumb" src="https://covers.openlibrary.org/b/id/240726-S.jpg"/>
                </div>
                <div class="col float-left col-padding">
                    <a href="#" class="book-title">Slow Reading</a>
                    <div class="book-desc">A study of voluntary slow reading from diverse angles"--Provided by publisher.</div>
                    <div class="book-author">
                        <span class="text">by</span>
                        <span class="book-author-name">
                            <a class="book-author-name" href="#">David Mikics</a>
                        </span>
                    </div>
                    <div class="book-action">
                        <a class="action-add" href="#">Add</a>
                    </div>

                </div>
            </div>
        </li>
        <li>
            <div class="book">
                <div class="col float-left col-padding">
                    <img class="thumb" src="https://covers.openlibrary.org/b/id/240726-S.jpg"/>
                </div>
                <div class="col float-left col-padding">
                    <a href="#" class="book-title">Slow Reading</a>
                    <div class="book-desc">A study of voluntary slow reading from diverse angles"--Provided by publisher.</div>
                    <div class="book-author">
                        <span class="text">by</span>
                        <span class="book-author-name">
                            <a class="book-author-name" href="#">David Mikics</a>
                        </span>
                    </div>
                                 <div class="book-action">                        <a class="action-add" href="#">Add</a>

                    </div>


                </div>
            </div>
        </li>
        <li>
            <div class="book">
                <div class="col float-left col-padding">
                    <img class="thumb" src="https://covers.openlibrary.org/b/id/240726-S.jpg"/>
                </div>
                <div class="col float-left col-padding">
                    <a href="#" class="book-title">Slow Reading</a>
                    <div class="book-desc">A study of voluntary slow reading from diverse angles"--Provided by publisher.</div>
                    <div class="book-author">
                        <span class="text">by</span>
                        <span class="book-author-name">
                            <a class="book-author-name" href="#">David Mikics</a>
                        </span>
                    </div>
                    <div class="book-action">                        <a class="action-add" href="#">Add</a>

                    </div>

                </div>
            </div>
        </li>
        <li>
            <div class="book">
                <div class="col float-left col-padding">
                    <img class="thumb" src="https://covers.openlibrary.org/b/id/5546156-S.jpg"/>
                </div>
                <div class="col float-left col-padding">
                    <a href="#" class="book-title">Slow Reading</a>
                    <div class="book-desc">A study of voluntary slow reading from diverse angles"--Provided by publisher.</div>
                    <div class="book-author">
                        <span class="text">by</span>
                        <span class="book-author-name">
                            <a class="book-author-name" href="#">David Mikics</a>
                        </span>
                    </div>
                    <div class="book-action">                        <a class="action-add" href="#">Add</a>

                    </div>


                </div>
            </div>
        </li>

        <li>
            <div class="book">
                <div class="col float-left col-padding">
                    <img class="thumb" src="https://covers.openlibrary.org/b/id/240726-S.jpg"/>
                </div>
                <div class="col float-left col-padding">
                    <a href="#" class="book-title">Slow Reading</a>
                    <div class="book-desc">A study of voluntary slow reading from diverse angles"--Provided by publisher.</div>
                    <div class="book-author">
                        <span class="text">by</span>
                        <span class="book-author-name">
                            <a class="book-author-name" href="#">David Mikics</a>
                        </span>
                    </div>
                    <div class="book-action">                        <a class="action-add" href="#">Add</a>

                    </div>

                </div>
            </div>
        </li>

        <li>
            <div class="book">
                <div class="col float-left col-padding">
                    <img class="thumb" src="https://covers.openlibrary.org/b/id/240726-S.jpg"/>
                </div>
                <div class="col float-left col-padding">
                    <div class="book-title">Slow Reading</div>
                    <div class="book-desc">A study of voluntary slow reading from diverse angles"--Provided by publisher.</div>
                    <div class="book-author">
                        <span class="text">by</span>
                        <span class="book-author-name">
                            <a class="book-author-name" href="#">David Mikics</a>
                        </span>
                    </div>
                    <div class="book-action">
                                            <a class="action-add" href="#">Add</a>

                    </div>

                </div>
            </div>
        </li>
    </ul>
</section>